In [1]:
# data manipulation libraries
import pandas as pd
import numpy as np

# visualisation libraries
import seaborn as sns
import matplotlib.pyplot as plt

# machine learning libraries
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, confusion_matrix, classification_report

In [2]:
users_data = pd.read_pickle("../data/users_data_final.pkl")

In [3]:
users_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45209 entries, 0 to 45215
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              45209 non-null  object
 1   number_transactions  35210 non-null  float64
 2   total_amount_usd     35210 non-null  float64
 3   age                  45209 non-null  int64
 4   job                  44921 non-null  object
 5   marital              45209 non-null  object
 6   education            43352 non-null  object
 7   default              45209 non-null  bool
 8   housing              45209 non-null  bool
 9   loan                 45209 non-null  bool
 10  contact              32191 non-null  object
 11  duration             45209 non-null  int64
 12  campaign             45209 non-null  int64
 13  pdays                45209 non-null  int64
 14  previous             45209 non-null  int64
 15  poutcome             8252 non-null   object
 16  term_deposit         45209 non-null  bool
 17  date_joined          45179 non-null  datetime64[ns]
 18  device               45115 non-null  object
dtypes: bool(4), datetime64[ns](1), float64(2), int64(5), object(7)
memory usage: 5.7+ MB

In [4]:
non_object_features = list(users_data.select_dtypes(['float64', 'int64', 'bool']).columns)

In [5]:
non_object_features

['number_transactions',
 'total_amount_usd',
 'age',
 'default',
 'housing',
 'loan',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'term_deposit']

In [6]:
type(non_object_features)

list

In [7]:
len(non_object_features)

11

In [8]:
users_data.isnull().sum()

user_id                    0
number_transactions     9999
total_amount_usd        9999
age                        0
job                      288
marital                    0
education               1857
default                    0
housing                    0
loan                       0
contact                13018
duration                   0
campaign                   0
pdays                      0
previous                   0
poutcome               36957
term_deposit               0
date_joined               30
device                    94
dtype: int64

In [9]:
numerical_features = users_data.select_dtypes(['float64', 'int64', 'bool'])

In [10]:
numerical_features.isnull().sum()

number_transactions    9999
total_amount_usd       9999
age                       0
default                   0
housing                   0
loan                      0
duration                  0
campaign                  0
pdays                     0
previous                  0
term_deposit              0
dtype: int64

In [11]:
def identify_missing_data(df):
    """
    This function is used to identify missing data
    
    @param df pandas DataFrame
    
    @return a DataFrame with the percentage of missing data for every feature and the data types
    """
    
    percent_missing = df.isnull().mean()
    
    missing_value_df = pd.DataFrame(percent_missing).reset_index() # convert to DataFrame
    missing_value_df = missing_value_df.rename(columns = {"index" : "feature",
                                                                0 : "percent_missing"}) # rename columns

    missing_value_df = missing_value_df.sort_values(by = ['percent_missing'], ascending = False) # sort the values
    
    data_types_df = pd.DataFrame(df.dtypes).reset_index().rename(columns = {"index" : "feature",
                                                                0 : "data_type"}) # rename columns
    
    missing_value_df = missing_value_df.merge(data_types_df, on = "feature") # join the dataframe with datatype
    
    missing_value_df.percent_missing = round(missing_value_df.percent_missing*100, 2) # format the percent_missing
    
    return missing_value_df

In [12]:
missing_df = identify_missing_data(numerical_features)

In [13]:
missing_df

                feature  percent_missing data_type
0   number_transactions            22.12   float64
1      total_amount_usd            22.12   float64
2                   age             0.00     int64
3               default             0.00      bool
4               housing             0.00      bool
5                  loan             0.00      bool
6              duration             0.00     int64
7              campaign             0.00     int64
8                 pdays             0.00     int64
9              previous             0.00     int64
10         term_deposit             0.00      bool

In [14]:
missing_df[missing_df.percent_missing>0]

               feature  percent_missing data_type
0  number_transactions            22.12   float64
1     total_amount_usd            22.12   float64

users_data=users_data.total_amount_usd.fillna(0, inplace=True)

In [15]:
users_data.isnull().sum()

user_id                    0
number_transactions     9999
total_amount_usd        9999
age                        0
job                      288
marital                    0
education               1857
default                    0
housing                    0
loan                       0
contact                13018
duration                   0
campaign                   0
pdays                      0
previous                   0
poutcome               36957
term_deposit               0
date_joined               30
device                    94
dtype: int64